# Mac files
.DS_Store

# Cache files
*cache*

# Logs
*.log
logs/

# Outputs

# Except folders that contain models
output/images
output/graphs_no_barlow
output/graphs_barlow
output/model_backup

# Input data
data/
