# Mac files
.DS_Store

# Cache files
*cache*

# Logs
*.log
logs/

# Outputs
output/

# Except folders that contain models
!output/model
!output/model_backup

# Input data
data/

# tmp
vince/
lightning_logs/